---
const { platform, username } = Astro.props;
// Define base URLs for different platforms

const getUrl = (platform, username) => {
  const platformUrls = {
    github: `https://www.github.com/${username}`,
    bluesky: `https://bsky.app/profile/${username}`,
    linkedin: `https://www.linkedin.com/in/${username}`
  };
  
  return platformUrls[platform.toLowerCase()];
};

---
<a href={getUrl(platform, username)}>{platform}</a>
